* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 140%;
    min-height: 100vh;
}

.row {
    flex: 1;
}

.title, h1,h2 {
    text-align: center;
}

.title, h1 {
    color: #fff;
    text-shadow: 1px 1px 1px #ffa949;
    text-transform: uppercase;
}

.main-header {
    padding-top: 250px;
    height: 800px;
    background: #ffa949 url('../img/pootie-tang.jpg') no-repeat center;
    background-size: cover;
}

.title {
    font-size: 5.625rem; /* 90px/16px  */
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    line-height: 1.3;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.625rem; /* 26px/16px */
}

.arrow {
    width: 50px;
    padding-top: 20px;
}

.primary-content,
.main-header,
.main-footer {
    text-align: center;
}


.primary-content {
    padding-bottom: 95px;
    width: 50%;
    margin: 0 auto;
}

.intro {
    border-bottom: 2px solid #ffa949;
    font-size: 2.375em; /* 38px/16px */
    line-height: 1.6;
    color: #000;
    text-shadow: 1px 1px 1px #ffa949;
    padding-bottom: 10px;
}

#paragaph-quantity-menumenu {
    padding-top: 10px;
}

#quantity {
    border: 1px solid #000;
    width: 210px;
    height: 40px;
    padding: 0;
    margin: 0 auto 40px auto;
}

#quantity:hover {
    border-color: #ffa949;
    transition: 0.1s;
}

#quantity select {
    display: block;
    width: 100%;
    margin: 0;
    padding-left: 16px;
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    outline: none;*/
    text-transform: uppercase;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
}

#output {
    text-align: justify;
}

p {
    font-family: "Droid Sans", sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 26px;
    animation: fadeIn 0.8s;
}

.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-family: "Droid Sans", sans-serif;
}

a:hover {
    color: #ffa949;
    transition: 0.1s;
}










/***** MEDIA QUERIES *****/

